In [38]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [39]:
import nltk

In [40]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [41]:
import pandas as pd

In [42]:
fake = pd.read_csv("/content/sample_data/Fake.csv")
genuine = pd.read_csv("/content/sample_data/True.csv")

In [43]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [44]:
display(fake.head())
display(genuine.head)

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

<bound method NDFrame.head of                                                    title  ...                date
0      As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1      U.S. military to accept transgender recruits o...  ...  December 29, 2017
2      Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3      FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4      Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
...                                                  ...  ...                 ...
21412  'Fully committed' NATO backs new U.S. approach...  ...    August 22, 2017
21413  LexisNexis withdrew two products from Chinese ...  ...    August 22, 2017
21414  Minsk cultural hub becomes haven from authorities  ...    August 22, 2017
21415  Vatican upbeat on possibility of Pope Francis ...  ...    August 22, 2017
21416  Indonesia to buy $1.14 billion worth of Russia...  ...    August 22, 2017

[21417 rows x 4 columns]>

In [45]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [46]:
fake['target'] = 0
genuine['target'] = 1

In [47]:
display(fake.head())

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

In [48]:
display(genuine.head())

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1

[5 rows x 5 columns]

In [49]:
data = pd.concat([fake, genuine], axis=0)

In [50]:
data = data.reset_index(drop=True)

In [51]:
data=data.drop(['subject', 'date', 'title'], axis=1)

In [52]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

TOKENIZATION

In [53]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [54]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

STEMMING

In [55]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [56]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [57]:
data['text']=data['text'].apply(stem_it)

In [58]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

Stopward Removal

In [59]:
#import nltk
#from nltk.corpus import stopwords
#nltk.download('stopwords)
#print(stopwords.words('english))

In [60]:
def stop_it(t):
  dt = [word for word in t if len(word)>2]
  return dt

In [61]:
data['text']=data['text'].apply(stop_it)

In [62]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [63]:
data['text']=data['text'].apply(' '.join)

Splitting up of data

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

42550    unit nation reuter react remark north korea fo...
41167    cairo reuter palestinian rival hama and fatah ...
32908    hanoi reuter u.s. presid barack obama said sev...
18298    susan rice will not visit capitol hill today f...
29972    tokyo reuter the japanes govern defend toyota ...
Name: text, dtype: object

42550    1
41167    1
32908    1
18298    0
29972    1
Name: target, dtype: int64

Vectorization

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [68]:
print(tfidf_train)

  (0, 25926)	0.10412681787384749
  (0, 9156)	0.09465486816203543
  (0, 62889)	0.11598598989169463
  (0, 46918)	0.10059452979577156
  (0, 42649)	0.05504954901643888
  (0, 59315)	0.08230072427375917
  (0, 76277)	0.11253039618095391
  (0, 80790)	0.04410143343732348
  (0, 87906)	0.052420401014842494
  (0, 61040)	0.04145724299088671
  (0, 81066)	0.041874692351728526
  (0, 73204)	0.05599037201353214
  (0, 88837)	0.03624474848487906
  (0, 39510)	0.06500833484416392
  (0, 18809)	0.07584146961467042
  (0, 42005)	0.06816156832013069
  (0, 58664)	0.10264300130969578
  (0, 17560)	0.11609343939135845
  (0, 81202)	0.058230425115911776
  (0, 87620)	0.04902399964029035
  (0, 76607)	0.1074454036165153
  (0, 8370)	0.07789553500153316
  (0, 59019)	0.029523934294197137
  (0, 29972)	0.048846057397476175
  (0, 15314)	0.1233346787398436
  :	:
  (33672, 81244)	0.02976619616747968
  (33672, 72248)	0.03735626984569848
  (33672, 90724)	0.04232712924733511
  (33672, 88108)	0.047900370695792484
  (33672, 37677)	0.028525624008896334
  (33672, 11117)	0.05165224666771042
  (33672, 37818)	0.028532818232102113
  (33672, 73169)	0.053060132466399824
  (33672, 88536)	0.04746476831930735
  (33672, 30576)	0.059190248682545216
  (33672, 13467)	0.035196559850609536
  (33672, 50033)	0.058004350755730606
  (33672, 88655)	0.030771104382104876
  (33672, 7227)	0.06849070975457311
  (33672, 21407)	0.06269120458749476
  (33672, 35674)	0.04541721745421099
  (33672, 81440)	0.05863530480091769
  (33672, 42005)	0.06577174957070718
  (33672, 36953)	0.035978358372057005
  (33672, 69019)	0.042622854355034434
  (33672, 77418)	0.14179199709100918
  (33672, 14088)	0.05386958003252935
  (33672, 54430)	0.06246545233685962
  (33672, 69416)	0.03558184676737104
  (33672, 84972)	0.09258732892820937

Logistic Regression

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [70]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.69933184855235

PassiveAggressiveClassifier

In [71]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [72]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.55456570155901